/* MyComponent.module.css */

.layout{
    background:linear-gradient(90deg,hsla(0,0%,100%,.63),hsla(0,0%,100%,0));
    position: sticky;
    top: 105px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 45px;
    padding: 22.5px;
    height: 50px;
    border-radius:5px;
  }